* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1150px;
    padding: 0px 15px;
    margin: 0px auto;
}

.background-color {
    background-color: #EEEFF1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}

.logo {
    color: #34547A;
    font-family: 'Revalia';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    gap: 42px;
}

nav > a {
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    letter-spacing: 1.6px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav > a:hover {
    color: #34547A;
}

.main-content {
    display: flex;
    gap: 140px;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 140px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
}

.content > h1 {
    color: #000;
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%; /* 78.75px */
}

.content > p {
    color: #727272;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    width: 540px;
}

.content > button {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    letter-spacing: 1.6px;
    padding: 20px 40px 20px 40px;
    background-color: #34547A;
    border: none;
    transition: color 0.3s ease;
}

.content > button:hover {
    cursor: pointer;
    color: black;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.about-me > h2 {
    color: #000;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-me > p {
    color: #727272;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    width: 540px;
    text-align: center;
}

#partner-back {
    background-color: #34547A;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.partner {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.content-partner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-partner > h6 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content-partner > p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
}

.xp-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.xp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.xp > h2 {
    color: #000;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.xp-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.xp-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.xp-bar > h5 {
    color: #727272;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
}

.xp-bar-input {
    width: 445px;
    height: 4px;
    background-color: #C4C4C4;
}

.xp-full {
    width: 349.357px;
    height: 4px;
    background: var(--Accent, #34547A);
    position: absolute;
}

#how-works {
    background: #EEEFF1
}

.how-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.how-works > h2 {
    color: #000;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.how-works > p {
    color: #727272;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    width: 540px;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.play-button {
    position: absolute;
    right: 44%;
    bottom: 43%;
}

#projects {
    background: url(./Images/projects.png) no-repeat center / cover;
    height: 960px;
}

.microsoft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#site-order {
    background-color: #EEEFF1;
}

.want-site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.want-site-content > h2 {
    color: #000;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.want-site-content > p {
    color: #727272;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    width: 540px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

label > input {
    background-color: white;
    padding: 20px 160px 20px 20px;
    border: none;
    outline: none;
    color: #5F5D5D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 22.969px */
    transition: color 0.5s ease;
}

label > input::placeholder {
    color: #5F5D5D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 22.969px */
}

label > input:focus {
    color: #34547A;
}

form > textarea {
    background-color: white;
    border: none;
    outline: none;
    resize: none;
    padding-top: 20px;
    padding-left: 20px;
    color: #5F5D5D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 22.969px */
}

form > textarea::placeholder {
    color: #5F5D5D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 22.969px */
}

form > textarea:focus {
    color: #34547A;
}

form > button {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 22.969px */
    letter-spacing: 2.1px;
    padding: 15px 40px 15px 40px;
    border: none;
    background-color: #34547A;
    margin-top: 50px;
    transition: color 0.3s ease;
}

form > button:hover {
    color: #000;
    cursor: pointer;
}

footer {
    background-color: #34547A;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.portfolio > h2 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio > p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 21.328px */
}

.vks {
    display: flex;
    align-items: center;
    gap: 20px;
}